--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: app; Type: SCHEMA; Schema: -; Owner: app
--

CREATE SCHEMA app;


ALTER SCHEMA app OWNER TO app;

--
-- Name: calculatediscount(integer); Type: FUNCTION; Schema: app; Owner: postgres
--

CREATE FUNCTION app.calculatediscount(partner_id integer) RETURNS integer
    LANGUAGE plpgsql
    AS $$
DECLARE
    total_sales DECIMAL(18,2);
    discount INTEGER;
BEGIN
    -- тАШ╨╖╨Б╨▓┬а╥Р┬м ┬о╨О╨╣╨│╨╛ ╨▒╨│┬м┬м╨│ ╨З╨░┬о┬д┬а┬ж ╨З┬а╨░╨▓┬н╥Р╨░┬а
    SELECT COALESCE(SUM(sh.Quantity * sh.SalePrice), 0) INTO total_sales
    FROM app."SalesHistories" sh
    WHERE sh."PartnerId" = partner_id;
    
    -- ╨Л╨З╨░╥Р┬д╥Р┬л╨┐╥Р┬м ╨▒╨Д╨Б┬д╨Д╨│ ╨З┬о ╨З╨░┬а╤Ю╨Б┬л┬а┬м
    IF total_sales >= 300000 THEN
        discount := 15;
    ELSIF total_sales >= 50000 THEN
        discount := 10;
    ELSIF total_sales >= 10000 THEN
        discount := 5;
    ELSE
        discount := 0;
    END IF;
    
    RETURN discount;
END;
$$;


ALTER FUNCTION app.calculatediscount(partner_id integer) OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: PartnerTypes; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app."PartnerTypes" (
    id integer NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE app."PartnerTypes" OWNER TO postgres;

--
-- Name: PartnerTypes_id_seq; Type: SEQUENCE; Schema: app; Owner: postgres
--

CREATE SEQUENCE app."PartnerTypes_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE app."PartnerTypes_id_seq" OWNER TO postgres;

--
-- Name: PartnerTypes_id_seq; Type: SEQUENCE OWNED BY; Schema: app; Owner: postgres
--

ALTER SEQUENCE app."PartnerTypes_id_seq" OWNED BY app."PartnerTypes".id;


--
-- Name: Partners; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app."Partners" (
    id integer NOT NULL,
    "TypeId" integer NOT NULL,
    name character varying(200) NOT NULL,
    "legalAddress" text,
    "INN" character varying(20),
    "DirectorName" character varying(200),
    phone character varying(20),
    email character varying(100),
    "LogoPath" text,
    "Rating" integer DEFAULT 0 NOT NULL
);


ALTER TABLE app."Partners" OWNER TO postgres;

--
-- Name: Partners_id_seq; Type: SEQUENCE; Schema: app; Owner: postgres
--

CREATE SEQUENCE app."Partners_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE app."Partners_id_seq" OWNER TO postgres;

--
-- Name: Partners_id_seq; Type: SEQUENCE OWNED BY; Schema: app; Owner: postgres
--

ALTER SEQUENCE app."Partners_id_seq" OWNED BY app."Partners".id;


--
-- Name: ProductTypes; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app."ProductTypes" (
    id integer NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE app."ProductTypes" OWNER TO postgres;

--
-- Name: ProductTypes_id_seq; Type: SEQUENCE; Schema: app; Owner: postgres
--

CREATE SEQUENCE app."ProductTypes_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE app."ProductTypes_id_seq" OWNER TO postgres;

--
-- Name: ProductTypes_id_seq; Type: SEQUENCE OWNED BY; Schema: app; Owner: postgres
--

ALTER SEQUENCE app."ProductTypes_id_seq" OWNED BY app."ProductTypes".id;


--
-- Name: Products; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app."Products" (
    id integer NOT NULL,
    article character varying(50) NOT NULL,
    name character varying(200) NOT NULL,
    "productTypeId" integer,
    description text,
    unit character varying(20) NOT NULL,
    "quantityInStock" numeric(18,2) DEFAULT 0,
    "MinStockQuantity" numeric(18,2) DEFAULT 0,
    "CostPrice" numeric(18,2),
    "SupplierId" integer,
    location character varying(100)
);


ALTER TABLE app."Products" OWNER TO postgres;

--
-- Name: Products_id_seq; Type: SEQUENCE; Schema: app; Owner: postgres
--

CREATE SEQUENCE app."Products_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE app."Products_id_seq" OWNER TO postgres;

--
-- Name: Products_id_seq; Type: SEQUENCE OWNED BY; Schema: app; Owner: postgres
--

ALTER SEQUENCE app."Products_id_seq" OWNED BY app."Products".id;


--
-- Name: SalesHistories; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app."SalesHistories" (
    id integer NOT NULL,
    "partnerId" integer NOT NULL,
    "ProductId" integer NOT NULL,
    "SalesDate" date NOT NULL,
    quantity integer NOT NULL,
    "salesPrice" numeric(18,2) NOT NULL
);


ALTER TABLE app."SalesHistories" OWNER TO postgres;

--
-- Name: SalesHistories_id_seq; Type: SEQUENCE; Schema: app; Owner: postgres
--

CREATE SEQUENCE app."SalesHistories_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE app."SalesHistories_id_seq" OWNER TO postgres;

--
-- Name: SalesHistories_id_seq; Type: SEQUENCE OWNED BY; Schema: app; Owner: postgres
--

ALTER SEQUENCE app."SalesHistories_id_seq" OWNED BY app."SalesHistories".id;


--
-- Name: StockIssues; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app."StockIssues" (
    id integer NOT NULL,
    "IssueDate" timestamp without time zone DEFAULT now() NOT NULL,
    "ProductId" integer NOT NULL,
    quantity numeric(18,2) NOT NULL,
    "Reason" character varying(200),
    "DocumentNumber" character varying(50)
);


ALTER TABLE app."StockIssues" OWNER TO postgres;

--
-- Name: StockIssues_id_seq; Type: SEQUENCE; Schema: app; Owner: postgres
--

CREATE SEQUENCE app."StockIssues_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE app."StockIssues_id_seq" OWNER TO postgres;

--
-- Name: StockIssues_id_seq; Type: SEQUENCE OWNED BY; Schema: app; Owner: postgres
--

ALTER SEQUENCE app."StockIssues_id_seq" OWNED BY app."StockIssues".id;


--
-- Name: StockReceipts; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app."StockReceipts" (
    id integer NOT NULL,
    "ReceiptDate" timestamp without time zone DEFAULT now() NOT NULL,
    "ProductId" integer NOT NULL,
    quantity numeric(18,2) NOT NULL,
    price numeric(18,2) NOT NULL,
    "SupplierId" integer,
    "DocumetNumber" character varying(50)
);


ALTER TABLE app."StockReceipts" OWNER TO postgres;

--
-- Name: StockReceipts_id_seq; Type: SEQUENCE; Schema: app; Owner: postgres
--

CREATE SEQUENCE app."StockReceipts_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE app."StockReceipts_id_seq" OWNER TO postgres;

--
-- Name: StockReceipts_id_seq; Type: SEQUENCE OWNED BY; Schema: app; Owner: postgres
--

ALTER SEQUENCE app."StockReceipts_id_seq" OWNED BY app."StockReceipts".id;


--
-- Name: Suppliers; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app."Suppliers" (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    "ContactPerson" character varying(200),
    phone character varying(20),
    email character varying(100),
    "INN" character varying(20),
    address text,
    ating integer DEFAULT 0
);


ALTER TABLE app."Suppliers" OWNER TO postgres;

--
-- Name: Suppliers_id_seq; Type: SEQUENCE; Schema: app; Owner: postgres
--

CREATE SEQUENCE app."Suppliers_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE app."Suppliers_id_seq" OWNER TO postgres;

--
-- Name: Suppliers_id_seq; Type: SEQUENCE OWNED BY; Schema: app; Owner: postgres
--

ALTER SEQUENCE app."Suppliers_id_seq" OWNED BY app."Suppliers".id;


--
-- Name: PartnerTypes id; Type: DEFAULT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."PartnerTypes" ALTER COLUMN id SET DEFAULT nextval('app."PartnerTypes_id_seq"'::regclass);


--
-- Name: Partners id; Type: DEFAULT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."Partners" ALTER COLUMN id SET DEFAULT nextval('app."Partners_id_seq"'::regclass);


--
-- Name: ProductTypes id; Type: DEFAULT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."ProductTypes" ALTER COLUMN id SET DEFAULT nextval('app."ProductTypes_id_seq"'::regclass);


--
-- Name: Products id; Type: DEFAULT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."Products" ALTER COLUMN id SET DEFAULT nextval('app."Products_id_seq"'::regclass);


--
-- Name: SalesHistories id; Type: DEFAULT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."SalesHistories" ALTER COLUMN id SET DEFAULT nextval('app."SalesHistories_id_seq"'::regclass);


--
-- Name: StockIssues id; Type: DEFAULT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."StockIssues" ALTER COLUMN id SET DEFAULT nextval('app."StockIssues_id_seq"'::regclass);


--
-- Name: StockReceipts id; Type: DEFAULT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."StockReceipts" ALTER COLUMN id SET DEFAULT nextval('app."StockReceipts_id_seq"'::regclass);


--
-- Name: Suppliers id; Type: DEFAULT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."Suppliers" ALTER COLUMN id SET DEFAULT nextval('app."Suppliers_id_seq"'::regclass);


--
-- Data for Name: PartnerTypes; Type: TABLE DATA; Schema: app; Owner: postgres
--

COPY app."PartnerTypes" (id, name) FROM stdin;
1	╨Л╨Л╨Л
2	тАб╨В╨Л
3	тВм╨П
4	╨В╨Л
5	╨П╨В╨Л
\.


--
-- Data for Name: Partners; Type: TABLE DATA; Schema: app; Owner: postgres
--



--
-- Data for Name: ProductTypes; Type: TABLE DATA; Schema: app; Owner: postgres
--

COPY app."ProductTypes" (id, name) FROM stdin;
1	тАШ╨░╥Р┬з┬а┬н┬н╨╗╥Р ╨╢╤Ю╥Р╨▓╨╗
2	╨Й┬о┬м┬н┬а╨▓┬н╨╗╥Р ╨░┬а╨▒╨▓╥Р┬н╨Б╨┐
3	╤У┬о╨░╨╕╨Д╨Б ╨Б ╨Д┬а╨╕╨З┬о
4	╤У╨░╨│┬н╨▓ ╨Б ╨│┬д┬о╨О╨░╥Р┬н╨Б╨┐
5	тАЬ╨З┬а╨Д┬о╤Ю╨Д┬а
6	тАЮ╥Р╨Д┬о╨░
\.


--
-- Data for Name: Products; Type: TABLE DATA; Schema: app; Owner: postgres
--



--
-- Data for Name: SalesHistories; Type: TABLE DATA; Schema: app; Owner: postgres
--

COPY app."SalesHistories" (id, "partnerId", "ProductId", "SalesDate", quantity, "salesPrice") FROM stdin;
1	1	1	2026-02-10	100	80.00
2	1	2	2026-02-15	50	90.00
3	1	5	2026-02-20	20	250.00
4	2	3	2026-02-12	200	45.00
5	2	4	2026-02-18	150	45.00
6	2	9	2026-02-25	30	35.00
7	3	1	2026-03-01	300	75.00
8	3	2	2026-03-01	250	85.00
9	3	6	2026-03-05	50	60.00
10	4	7	2026-02-28	40	120.00
11	5	8	2026-03-02	15	45.00
\.


--
-- Data for Name: StockIssues; Type: TABLE DATA; Schema: app; Owner: postgres
--

COPY app."StockIssues" (id, "IssueDate", "ProductId", quantity, "Reason", "DocumentNumber") FROM stdin;
1	2026-03-02 15:30:00	1	50.00	╨П╨░┬о┬д┬а┬ж┬а ╨Л╨Л╨Л "тАУ╤Ю╥Р╨▓┬о╨╖┬н╨╗┬й ╨░┬а┬й"	SALE-001
2	2026-03-02 15:30:00	2	30.00	╨П╨░┬о┬д┬а┬ж┬а ╨Л╨Л╨Л "тАУ╤Ю╥Р╨▓┬о╨╖┬н╨╗┬й ╨░┬а┬й"	SALE-001
3	2026-03-03 11:20:00	3	100.00	╨П╨░┬о┬д┬а┬ж┬а тВм╨П ╨П╥Р╨▓╨░┬о╤Ю┬а ╨К.тВм.	SALE-002
4	2026-03-04 10:00:00	5	10.00	тАШ╨З╨Б╨▒┬а┬н╨Б╥Р (╨О╨░┬а╨Д)	WRITE-OFF-001
\.


--
-- Data for Name: StockReceipts; Type: TABLE DATA; Schema: app; Owner: postgres
--

COPY app."StockReceipts" (id, "ReceiptDate", "ProductId", quantity, price, "SupplierId", "DocumetNumber") FROM stdin;
1	2026-03-01 10:30:00	1	200.00	60.00	1	INV-001
2	2026-03-01 10:30:00	2	150.00	70.00	1	INV-001
3	2026-03-02 14:20:00	3	300.00	30.00	2	INV-002
4	2026-03-02 14:20:00	4	250.00	30.00	2	INV-002
5	2026-03-03 09:15:00	5	60.00	180.00	3	INV-003
6	2026-03-03 09:15:00	6	80.00	40.00	3	INV-003
\.


--
-- Data for Name: Suppliers; Type: TABLE DATA; Schema: app; Owner: postgres
--



--
-- Name: PartnerTypes_id_seq; Type: SEQUENCE SET; Schema: app; Owner: postgres
--

SELECT pg_catalog.setval('app."PartnerTypes_id_seq"', 5, true);


--
-- Name: Partners_id_seq; Type: SEQUENCE SET; Schema: app; Owner: postgres
--

SELECT pg_catalog.setval('app."Partners_id_seq"', 5, true);


--
-- Name: ProductTypes_id_seq; Type: SEQUENCE SET; Schema: app; Owner: postgres
--

SELECT pg_catalog.setval('app."ProductTypes_id_seq"', 6, true);


--
-- Name: Products_id_seq; Type: SEQUENCE SET; Schema: app; Owner: postgres
--

SELECT pg_catalog.setval('app."Products_id_seq"', 10, true);


--
-- Name: SalesHistories_id_seq; Type: SEQUENCE SET; Schema: app; Owner: postgres
--

SELECT pg_catalog.setval('app."SalesHistories_id_seq"', 11, true);


--
-- Name: StockIssues_id_seq; Type: SEQUENCE SET; Schema: app; Owner: postgres
--

SELECT pg_catalog.setval('app."StockIssues_id_seq"', 4, true);


--
-- Name: StockReceipts_id_seq; Type: SEQUENCE SET; Schema: app; Owner: postgres
--

SELECT pg_catalog.setval('app."StockReceipts_id_seq"', 6, true);


--
-- Name: Suppliers_id_seq; Type: SEQUENCE SET; Schema: app; Owner: postgres
--

SELECT pg_catalog.setval('app."Suppliers_id_seq"', 4, true);


--
-- Name: PartnerTypes PartnerTypes_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."PartnerTypes"
    ADD CONSTRAINT "PartnerTypes_pkey" PRIMARY KEY (id);


--
-- Name: Partners Partners_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."Partners"
    ADD CONSTRAINT "Partners_pkey" PRIMARY KEY (id);


--
-- Name: ProductTypes ProductTypes_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."ProductTypes"
    ADD CONSTRAINT "ProductTypes_pkey" PRIMARY KEY (id);


--
-- Name: Products Products_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."Products"
    ADD CONSTRAINT "Products_pkey" PRIMARY KEY (id);


--
-- Name: SalesHistories SalesHistories_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."SalesHistories"
    ADD CONSTRAINT "SalesHistories_pkey" PRIMARY KEY (id);


--
-- Name: StockIssues StockIssues_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."StockIssues"
    ADD CONSTRAINT "StockIssues_pkey" PRIMARY KEY (id);


--
-- Name: StockReceipts StockReceipts_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."StockReceipts"
    ADD CONSTRAINT "StockReceipts_pkey" PRIMARY KEY (id);


--
-- Name: Suppliers Suppliers_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."Suppliers"
    ADD CONSTRAINT "Suppliers_pkey" PRIMARY KEY (id);


--
-- Name: ix_partners_inn; Type: INDEX; Schema: app; Owner: postgres
--

CREATE INDEX ix_partners_inn ON app."Partners" USING btree ("INN");


--
-- Name: ix_partners_name; Type: INDEX; Schema: app; Owner: postgres
--

CREATE INDEX ix_partners_name ON app."Partners" USING btree (name);


--
-- Name: ix_partners_phone; Type: INDEX; Schema: app; Owner: postgres
--

CREATE INDEX ix_partners_phone ON app."Partners" USING btree (phone);


--
-- Name: ix_products_article; Type: INDEX; Schema: app; Owner: postgres
--

CREATE INDEX ix_products_article ON app."Products" USING btree (article);


--
-- Name: ix_products_name; Type: INDEX; Schema: app; Owner: postgres
--

CREATE INDEX ix_products_name ON app."Products" USING btree (name);


--
-- Name: ix_saleshistories_partnerid; Type: INDEX; Schema: app; Owner: postgres
--

CREATE INDEX ix_saleshistories_partnerid ON app."SalesHistories" USING btree ("partnerId");


--
-- Name: ix_saleshistories_saledate; Type: INDEX; Schema: app; Owner: postgres
--

CREATE INDEX ix_saleshistories_saledate ON app."SalesHistories" USING btree ("SalesDate");


--
-- Name: ix_stockissuedate; Type: INDEX; Schema: app; Owner: postgres
--

CREATE INDEX ix_stockissuedate ON app."StockIssues" USING btree ("IssueDate");


--
-- Name: ix_stockreceipts_receiptdate; Type: INDEX; Schema: app; Owner: postgres
--

CREATE INDEX ix_stockreceipts_receiptdate ON app."StockReceipts" USING btree ("ReceiptDate");


--
-- Name: Partners Partners_TypeId_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."Partners"
    ADD CONSTRAINT "Partners_TypeId_fkey" FOREIGN KEY ("TypeId") REFERENCES app."PartnerTypes"(id);


--
-- Name: Products Products_SupplierId_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."Products"
    ADD CONSTRAINT "Products_SupplierId_fkey" FOREIGN KEY ("SupplierId") REFERENCES app."Suppliers"(id);


--
-- Name: Products Products_productTypeId_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."Products"
    ADD CONSTRAINT "Products_productTypeId_fkey" FOREIGN KEY ("productTypeId") REFERENCES app."ProductTypes"(id);


--
-- Name: SalesHistories SalesHistories_ProductId_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."SalesHistories"
    ADD CONSTRAINT "SalesHistories_ProductId_fkey" FOREIGN KEY ("ProductId") REFERENCES app."Products"(id);


--
-- Name: SalesHistories SalesHistories_partnerId_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."SalesHistories"
    ADD CONSTRAINT "SalesHistories_partnerId_fkey" FOREIGN KEY ("partnerId") REFERENCES app."Partners"(id);


--
-- Name: StockIssues StockIssues_ProductId_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."StockIssues"
    ADD CONSTRAINT "StockIssues_ProductId_fkey" FOREIGN KEY ("ProductId") REFERENCES app."Products"(id);


--
-- Name: StockReceipts StockReceipts_ProductId_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."StockReceipts"
    ADD CONSTRAINT "StockReceipts_ProductId_fkey" FOREIGN KEY ("ProductId") REFERENCES app."Products"(id);


--
-- Name: StockReceipts StockReceipts_SupplierId_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app."StockReceipts"
    ADD CONSTRAINT "StockReceipts_SupplierId_fkey" FOREIGN KEY ("SupplierId") REFERENCES app."Suppliers"(id);


--
-- PostgreSQL database dump complete
--

